/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1680px;
  font-family: "Noto Sans TC", sans-serif;
}

/* header navbar */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.header img {
  width: 200px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  text-align: center;
}
.navbar li {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 800;
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: #473c26;
  font-size: 16px;
}
.navbar li a:hover {
  background: #8b764c;
  color: #fff;
  font-size: 24px;
  border-radius: 50px;
}
.navbar li a:active {
  color: red;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.content img {
  width: 100%;
  height: 40%;
  opacity: 0.9;
  margin-bottom: 50px;
}

.detail {
  position: absolute;
  top: 200px;
  left: 750px;
}
.detail h2 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #000;
}
.detail p {
  font-size: 24px;
  font-weight: 800;
  color: #000;
}
.detail .btn {
  background-color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  margin-top: 20px;
}
.detail .btn:hover {
  background-color: #8b764c;
  scale: 0.9;
  color: #fff;
}

.article {
  display: flex;
  flex-direction: column;
}
.article h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.article p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.prodact {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.prodact img {
  width: 20%;
  height: 250px;
  margin-bottom: 30px;
}
.prodact img:hover {
  box-shadow: 20px 20px 80px -44px #000;
  transition: 0.3s ease-in-out;
  scale: 0.95;
  cursor: pointer;
}
.prodact .space {
  width: 30%;
}

.section h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.card-content img {
  display: block;
  width: 100%;
  height: 500px;
  border-radius: 50px;
}
.card-content img:hover {
  opacity: 0.9;
  scale: 0.95;
}

.name-profession {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: #333;
}

.name {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.profession {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 60px;
}

.button button {
  background: rgb(95, 145, 95);
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 50px 8px 50px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button button:hover {
  background: rgb(182, 233, 182);
  color: #333;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  padding: 30px;
  background-color: #8b764c;
  margin-bottom: 20px;
  border-radius: 20px;
}

.footer a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.footer a:hover {
  color: red;
}

@media screen and (max-width: 1400px) {
  .detail {
    position: relative;
    top: 30px;
    left: 0px;
  }
  .detail h2 {
    font-size: 40px;
    font-weight: 800;
    color: #8b764c;
  }
  .detail p {
    font-size: 24px;
    font-weight: 800;
    color: #8b764c;
  }
  .detail .btn {
    background-color: #473c26;
    color: #8b764c;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
  .detail .btn:hover {
    background-color: #8b764c;
    scale: 0.9;
    color: #fff;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article h1 {
    text-align: center;
    font-size: 40px;
    color: #8b764c;
    margin-bottom: 30px;
  }
  .article p {
    text-align: left;
    font-size: 24px;
    color: #8b764c;
  }
  .prodact {
    display: flex;
  }
  .prodact img {
    width: 100%;
  }
  .prodact .space {
    width: 50%;
    margin-bottom: 30px;
  }
  .section h2 {
    font-size: 40px;
    font-weight: 800;
    color: #8b764c;
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    overflow: clip;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    width: 1150px;
  }
  .card-content img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  .name-profession {
    display: flex;
    color: #333;
  }
  .name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .button {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .button .aboutMe {
    margin-bottom: 20px;
    height: 60px;
  }
  .button button {
    background: rgb(95, 145, 95);
    outline: none;
    border: none;
    color: #fff;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .button button:hover {
    background: rgb(182, 233, 182);
    color: #333;
  }
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 30px;
    background-color: #473c26;
    border-radius: 20px;
  }
  .footer a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: inline-block;
  }
  .footer a:hover {
    color: red;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0;
  }
  .header .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    z-index: 1;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
  }
  .navbar li {
    margin: 20px auto;
    font-weight: bold;
  }
  .navbar li a {
    font-size: 16px;
    color: #8b764c;
  }
  .navbar li a:hover {
    background-color: #f3e4c5;
    font-size: 24px;
  }
  .detail {
    position: relative;
    top: 30px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail h2 {
    font-size: 32px;
    font-weight: 800;
    color: #8b764c;
    text-align: center;
  }
  .detail p {
    font-size: 16px;
    font-weight: 800;
    color: #8b764c;
    text-align: center;
  }
  .detail .btn {
    background-color: #473c26;
    color: #8b764c;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 60px;
  }
  .detail .btn:hover {
    background-color: #8b764c;
    scale: 0.9;
    color: #fff;
  }
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .article h1 {
    text-align: center;
    font-size: 32px;
    color: #8b764c;
    margin-bottom: 10px;
  }
  .article p {
    text-align: center;
    font-size: 16px;
    color: #8b764c;
    width: 300px;
  }
  .prodact {
    display: flex;
    flex-wrap: wrap;
  }
  .prodact img {
    width: 45%;
  }
  .prodact .space {
    width: 94%;
  }
  .section h2 {
    font-size: 40px;
    font-weight: 800;
    color: #8b764c;
  }
  .card-content img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 50px;
  }
  .name-profession {
    display: flex;
    color: #333;
  }
  .name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .button {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .button .aboutMe {
    margin-bottom: 20px;
    height: 60px;
  }
  .button button {
    background: rgb(95, 145, 95);
    outline: none;
    border: none;
    color: #fff;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .button button:hover {
    background: rgb(182, 233, 182);
    color: #333;
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
  }
}/*# sourceMappingURL=All2.css.map */