$font-size-xs:12px;
$font-size-s:16px;
$font-size-m:24px;
$font-size-l:32px;
$font-size-lg:40px;
$font-family:'Noto Sans TC', sans-serif;

$font-color-1:#473c26;
$font-color-2:#8b764c;
$font-color-3:#fff;
$font-color-4:#000;


$font-weight-1:100;
$font-weight-2:200;
$font-weight-3:300;
$font-weight-4:400;
$font-weight-5:500;
$font-weight-6:600;
$font-weight-7:700;
$font-weight-8:800;
$font-weight-9:900;
$font-weight-b:bold;


$link-color-1: #473c26;
$link-color-2: #8b764c;
$link-color-hover-1: #fff;
$link-color-hover-2: red;
$link-color-active:red;

$background-color-1: #f3e4c5;
$background-color-2: #8b764c;
$background-color-3: #473c26;
$background-color-4: rgb(95, 145, 95);
$background-color-5: rgb(182, 233, 182);

$width-80:80px;
$width-100:100px;
$width-200:200px;
$width-300:300px;
$width-400:400px;
$width-500:500px;
$width-600:600px;

